@media (max-width: 1536px) {
  .hero__logo {
    width: 1000px;
    margin-top: -19vh;
  }
}
@media (max-width: 1440px) {
  .hero__bg {
    height: 55vh;
  }
  .hero__logo {
    margin-top: -11vh;
  }
  .container {
    width: 1220px;
  }
  .hero__top {
    padding-left: calc(50vw - 610px);
  }
  .product__item-left {
    width: 840px;
  }
  .product__item.active .product__item-img {
    height: 460px;
    width: 600px;
  }
  .product__item.active {
    height: 520px;
  }
  .product__item.active .product__item-left {
    transform: translate(630px, 190px);
  }
  .product__item.active .product__item-left {
    width: 575px;
  }
  .services__item .title {
    max-width: 100%;
  }
}
@media (max-width: 1220px) {
  .container {
    width: 1024px;
  }
  .hero__top {
    padding-left: calc(50vw - 512px);
  }
  .about__bg {
    left: 27%;
  }
  .about__left h3 {
    font-size: 70px;
  }
  .about__text {
    font-size: 16px;
    max-width: 353px;
  }
  .product__item-left {
    width: 640px;
  }
  .product__item.active .product__item-img {
    height: 400px;
  }
  .product__item.active .product__item-left {
    transform: translate(555px, 147px);
  }
  .product__item.active {
    height: 460px;
  }
  .title {
    font-size: 58px;
  }
  .footer__bottom-item:nth-child(2) {
    padding: 25px 0 25px 25px;
  }

  .header .navigation,
  .header .lang {
    display: none;
  }
  .header {
    padding: 5px 0;
  }
  .menu {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: relative;
  }
  .line {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3;
    stroke-dashoffset: -134;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -90;
    stroke-width: 3;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
  }
  body.lock {
    overflow: hidden;
  }
  .burger-popup {
    background-color: #0b0b0b;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 50px 0;
  }
  .burger__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger__navigation {
    display: flex;
    flex-direction: column;
  }
  .burger-popup .burger__link:hover {
    color: #fff;
    text-decoration: none;
  }
  .burger__link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 0 10px;
    width: 100%;
    border-bottom: 1px solid #535353;
    z-index: 1001;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .burger__link:nth-child(3),
  .burger__link:nth-child(6) {
    border-color: transparent;
  }

  .burgerContent {
    height: 0;
    border-bottom: 1px solid #535353;
    transition: 1s;
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .burgerContent.active {
    height: 200px;
    overflow-y: scroll;
    opacity: 1;
    padding: 10px 0;

    transition: 1s;
  }
  .burgerContent > li {
    opacity: 0;
    transition: 1s;
    color: #bbb;
    font-size: 14px;
    line-height: 140%; /* 19.6px */
    text-transform: uppercase;
  }
  .burgerBtn.active img {
    rotate: 180deg;
  }
  .burgerContent.active > li {
    opacity: 1;
    transition: 1s;
  }
}
@media (max-width: 1044px) {
  .container {
    width: 768px;
  }
  .hero__top {
    padding-left: calc(50vw - 377px);
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__logo {
    width: 768px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__text {
    max-width: 100%;
  }
  .about__bg {
    left: 0;
    position: relative;
    order: 2;
    /* margin: revert; */
    margin-bottom: 20px;
  }

  .about__left,
  .about__right {
    padding-top: 0;
    order: 3;
  }
  .about__left {
    order: 1;
    margin-bottom: -19px;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .rate__number {
    font-size: 66px;
  }
  .cooperation__item {
    width: 48%;
  }
  .cooperation__text {
    font-size: 14px;
  }
  .product__item.active .product__item-img {
    height: 300px;
  }
  .product__item.active {
    height: 360px;
  }
  .btn img {
    width: 57px;
    height: 57px;
  }
  .product__item.active .product__item-left {
    transform: translate(417px, 75px);
    width: 335px;
  }
  .product__list {
    min-height: 1141px;
  }
  .title {
    font-size: 42px;
  }
  .services__item-title {
    font-size: 18px;
  }
  .services__text {
    font-size: 16px;
  }
  .services__subtitle {
    font-size: 18px;
  }
  .services__item {
    height: 300px;
  }
  .footer__bottom-item:nth-child(2) {
    padding: 0;
    order: 3;
    border-color: transparent;
    margin: 10px 0 26px;
  }
  .footer__bottom-inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__bottom-item:nth-child(3) {
    display: flex;
    flex: 2;
    width: 100%;
    justify-content: space-between;
    gap: inherit;
    order: -1;
    margin: 30px 0;
  }
  .footer__top-inner {
    flex-wrap: wrap;
  }
  section {
    padding-top: 90px;
  }
}
@media (max-width: 788px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .hero__logo {
    width: 100%;
    padding: 0 20px;
  }
  .hero__top {
    padding-left: 20px;
  }
  .about__left h3 {
    font-size: 40px;
  }
  .about__left p {
    font-size: 22px;
  }
  .about__bg {
    margin: 0;
    margin-bottom: 20px;
  }
  .partners__item {
    width: 195px;
  }
  section {
    padding-top: 50px;
  }
  .rate__inner {
    display: flex;
    flex-direction: column;
  }
  .rate__item:nth-child(2) {
    border-right: none;
    border-left: none;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353;
    max-width: 100%;
    width: 60%;
    align-self: center;
  }
  .product__item.active .product__item-img {
    height: auto;
    width: 100%;
    position: relative;
    left: 0;
  }
  .product__item.active {
    height: auto;
    flex-direction: column;
    display: flex;
  }
  .product__item.active .product__item-left {
    transform: none;
    width: 100%;
  }
  .product__item-content {
    flex-direction: column;
    order: -1;
  }
  .btn__product {
    align-self: flex-start;
    margin: 15px 0;
  }
  .services__item {
    width: 100%;
    max-width: 100%;
    flex: auto;
    height: 211px;
  }
  .services__item:nth-child(1) {
    order: -2;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    flex: auto;
  }
  .services__item:nth-child(3) {
    order: -1;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    flex: auto;
  }
  .services__list {
    gap: 10px;
  }
  .services__item-title {
    padding: 15px;
    color: #fff;
  }
  .services__item img {
    margin-top: -55px;
    object-fit: cover;
    opacity: 1;
  }
  .services {
    padding-bottom: 50px;
  }
  .services__item .title {
    margin: 0 0 15px;
  }
  .services__text {
    margin: 15px 0;
  }
}
@media (max-width: 490px) {
  .hero__bg > img {
    object-fit: cover;
  }
  .hero__bottom {
    width: 100%;
    padding: 0 20px;
  }
  .about__text {
    font-size: 16px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__line {
    display: none;
  }
  .about__bg {
    width: 100%;
  }
  .btn p {
    font-size: 14px;
  }
  .partners {
    padding-bottom: 50px;
  }
  .about__btn {
    margin-bottom: 0;
  }
  .rate {
    padding: 20px 0;
  }
  .title {
    font-size: 24px;
  }
  .cooperation__item {
    width: 100%;
    padding: 15px;
    min-height: 268px;
  }
  .cooperation__item-bottom {
    margin-top: 50px;
  }
  .product__subtitle {
    font-size: 18px;
  }
  .product__text {
    font-size: 14px !important;
  }
  .services__text,
  .services__text,
  .services__subtitle {
    font-size: 14px;
  }
  .footer__top-inner {
    gap: 20px;
    align-items: flex-start;

    flex-direction: column;
  }
  .footer__top {
    border-bottom: none;
    padding: 30px 0 0;
  }
  .logo {
    max-width: 115px;
  }
  .hero__top {
    padding: 0 20px;
  }
  .cooperation__subtile {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
}
